@page
@model OdeToCharacters.Pages.Characters.ClientCharactersModel
@{
    ViewData["Title"] = "ClientCharacters";
}

<h2>Client Characters</h2>

@section Scripts {
    <environment include="Development">

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.js"></script>
    </environment>

    <script>

        $(function () {

            $.ajax("/api/characters/",
                { method: "get" })
                .then(function (response) {
                    console.dir(response);
                });
        });

    </script>

}

